<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

	<meta charset="ISO-8859-1" /> 
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link href="#" rel="shortcut icon">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="https://kit.fontawesome.com/a076d05399.js" ></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">   </script>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	

  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  
 </head>
<body>

<div class="container" >
	
 <!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a th:href="@{/adminhome}">
										<i class="fa fa-home"></i>&nbsp;Home
									</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									Update Department
								</li>
							</ol>
						</div>
					</div>
			
  <form th:action="@{/updatedepartment}" method="POST"  >	
  
	<div class="card">
		<div class="card-header">
			<h4>Update Department</h4>
		</div>
  
	<div class="card-body">
	
		<div class="form-group">
	      <label for="company">Company Name:</label>
			<select class="form-control" id="company"  name="company" >
				<option selected disabled>Please Select Company Name</option>
					
					<th:block th:each="comp : ${clist}">
					 	<th:block th:if="${dept.company.comp_id}==${comp.comp_id}">
							<option selected th:value="${comp.comp_id}" th:text="${comp.comp_name}"></option>
						</th:block>
						<th:block th:unless="${dept.company.comp_id}==${comp.comp_id}">
							<option  th:value="${comp.comp_id}" th:text="${comp.comp_name}"></option>
						</th:block>
					</th:block>
			</select>
	    </div>
		
		<input type="hidden" id="dept_id" name="dept_id" th:value="${dept.dept_id}"/>
		
	    <div class="form-group">
	      <label for="dept_name">Department Name:</label>
			<input type="text" class="form-control" id="dept_name" placeholder="Enter Department Name" th:value="${dept.dept_name}" name="dept_name" required>
	    </div>
    
		<button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;<button type="reset" class="btn btn-primary">Cancel</button>
  
	</div>
   </div>

  </form>
</div>
</body>
</html>